* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
    line-height: 1.7;
    font-weight: 300;
    font-size: 1.1rem;

}



h3 {
    font-weight: 300;
    color: #ff5e15;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: "Oswald", sans-serif;
}

#foto1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
}

p {
    font-size: 20px;
    color: #000;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


section {
    padding: 5em 0;
}

.start {
    text-align: center;
}

.first {
    display: flex;
    gap: 20px;
}