* {
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-family: "BBH Hegarty", sans-serif;

}





ul {
    border-radius: 20px;
    background-color: rgb(215, 146, 146);
    width: 100%;
    height: 100%;
}




a {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-size: 30px;
}

li {
    text-align: center;
    line-height: 60px;

}

li:hover {
    cursor: pointer;
    background-color: rgb(167, 109, 109) !important;

}

li:nth-child(1) {
    background-color: red;
}

li:nth-child(2) {
    background-color: blue;
}

li:nth-child(3) {
    background-color: green;
}

li:nth-child(4) {
    background-color: yellow;
}

li:nth-child(5) {
    background-color: purple;
}

li:nth-child(6) {
    background-color: rgb(147, 19, 123);
}

li:nth-child(7) {
    background-color: rgb(255, 172, 18);
}

li:nth-child(8) {
    background-color: rgb(49, 32, 0);
}

li:nth-child(9) {
    background-color: rgb(3, 36, 146);
}

li:nth-child(10) {
    background-color: rgba(0, 49, 122, 0.359);
}

li:nth-child(11) {
    background-color: rgb(212, 255, 0);
}

li:nth-child(12) {
    background-color: rgb(41, 46, 41);
}

li:nth-child(13) {
    background-color: rgb(76, 255, 32);
}
li:nth-child(14) {
    background-color: rgb(156, 5, 53);
}
li:nth-child(15) {
    background-color: rgba(47, 1, 16, 0.404);
}
li:nth-child(16) {
    background-color: rgba(173, 92, 119, 0.404);
}
li:nth-child(17) {
    background-color: rgba(41, 198, 6, 0.404);
}
li:nth-child(18) {
    background-color: rgba(8, 163, 241, 0.404);
}
li:nth-child(19) {
    background-color: rgba(15, 21, 23, 0.404);
}