* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #333;
    padding: 20px;
}

.grid-container {
    width: 100%;
    max-width: 1230px;
    margin-inline: auto;
    background-color: brown;
    border-radius: 20px;
    border: 1px solid;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 200px);
}

.grid-item {
    background-color: red;
    color: rgb(0, 0, 0);
    font-size: 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.grid-item:nth-child(1) {
    background-color: red;
    grid-area: 1 / 1 / 3 / 1;
}

.grid-item:nth-child(2) {
    background-color: rgb(6, 142, 195);
    grid-area: 1 / 2 / 1 / 4;
}

.grid-item:nth-child(3) {
    background-color: rgb(203, 221, 8);
    grid-area: 1 / 4 / 2 / 6;
}

.grid-item:nth-child(4) {
    background-color: rgb(250, 177, 5);
}

.grid-item:nth-child(5) {
    background-color: rgb(255, 255, 255);
    grid-column-start: span 2;
}

.grid-item:nth-child(6) {
    background-color: red;
    grid-row-start: span 2;

}

.grid-item:nth-child(7) {
    background-color: rgb(255, 247, 247);
}

.grid-item:nth-child(8) {
    background-color: red;
    grid-column-start: span 2;
}

.grid-item:nth-child(9) {
    background-color: rgb(10, 242, 255);
}