body {
    font-family: "Istok Web", sans-serif;
    color: #3b3b44;
}

h2,
h3 {
    font-family: "Montserrat", sans-serif;
}

section {
    padding-block: 5rem;
}

.col-12 {
    margin-bottom: 56px;

    p {
        font-size: 1rem;
        color: #2c7ae7;
        text-transform: uppercase;
    }

    h2 {
        font-weight: 700;
        font-size: 2.5rem;
        margin: 0px;
        margin-top: 10px;
        color: #3b3b44
    }
}

.service-box {
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(182, 182, 190);
    padding: 25px 20px;
    border-radius: 9px;
    transition: all 0.3s ease;



    &:hover {
        background: #007bff;
        border: #9d9da3 solid 1px;
        color: #fff;

        .bg-icon {
            opacity: 1;
        }

        .icon {
            background: #fff;
            color: #007bff;
        }
    }

    h3 {
        margin-block: 19px;
        font-weight: 700;
        font-size: 1.5rem;
    }

    .icon {
        width: 98px;
        height: 98px;
        color: white;
        background: linear-gradient(to right, #2876e2 0, #3f8efc 100%);
        padding: 28px 28px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: all 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: auto;

        span {
            font-size: 42px;
        }
    }

    .bg-icon {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;

        span {
            font-size: 472px;
        }

    }
}