* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.line-parent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
    gap: 5px;
}

.line1 {
    /* font-size: 18px; */
    /* font-family: "Roboto", sans-serif; */
    /* font-weight: 500; */
    /* margin-bottom: 17px; */
    /* text-transform: uppercase; */
    /* color: #eb566c; */

    display: block;
    /* color: #ff4d4d; */
    /* font-weight: 500; */
    /* content: ""; */
    width: 50px;
    height: 2px;
    background-color: #ff4d4d;
}

b {
    color: #ff4d4d;
}

p {
    color: #eb566c;
    padding-left: 8px;

}

h1 {
    font-size: 50px;
    display: block;
    color: #092c3f;
    font-weight: 900;
}

main {
    display: flex;
    gap: 20px;
}

img {
    width: 100%;
    transform: scale(1);
    transition: all 0.6s ease-out 0s;
}

img:hover {
    transform: scale(1.1);
}

a {
    color: #161e46;
    font-weight: 700;
    font-size: 25px;
}

span {
    color: #ff2143;
    font-size: 14px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    display: block;
    position: relative;
    margin-bottom: 10px;
}


.line2 {
    display: block;
    width: 25px;
    height: 1.8px;
    background-color: #ff4d4d;
    padding-right: 3px;
}

article+div {
    display: flex;
}

article {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    padding-bottom: 35px;
}